@media (min-width: 640px) {
    #menu {
        display: none;
    }
    
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero {
        grid-column: 1 / 3;
        display: grid;
        justify-content: center;
    }
    .hero img {
        margin-top: 0.5rem;
        max-width: 90%;
        position: relative;
        left: 5%;
    }

    .hero a {
        top: 25%;
        left: 25%;
        bottom: auto;
        right: auto;
    }

    .card h2, .gallery h2 {
        margin-top: 0;
        padding: 0.5rem;
    }

    .spotlights {
        grid-column: 1 / 3;
        display: flex;
        margin-bottom: 0.5rem;
        min-height: fit-content;
    }

    .spotlight {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        position: relative;
    }

    .spotlight img {
        max-width: 100%;
    }

    .gallery {
        margin: 1rem;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}